<?xml version="1.0"?>

<launch>
  <arg name="model" default="alpha" />
  <arg name="urdf_file" default="$(find xacro)/xacro '$(find orne_description)/urdf/robots/orne_$(arg model).urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value=""/>
  </node>
</launch>
