<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="model" default="alpha" />
  <arg name="icart_dev_port" default="/dev/ttyACM0" />
  <arg name="map_file" />
  <arg name="move_forward_only" default="false" />
  <arg name="cmd_vel_topic" default="icart/cmd_vel" />
  <arg name="odom_topic" default="icart/odom" />

  <arg name="init_x" default="76.064" />
  <arg name="init_y" default="61.632" />
  <arg name="init_a" default="-1.809" />

  <!-- ORNE -->
  <include file="$(find orne_bringup)/launch/orne_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>
  <include file="$(find orne_bringup)/launch/orne_drive.launch">
    <arg name="icart_dev_port" value="$(arg icart_dev_port)" />
  </include>

  <!-- URG -->
  <node pkg="urg_node" type="urg_node" name="urg_node_0">
    <remap from="/scan" to="/scan" />
    <param name="frame_id" value="hokuyo_link" />
    <param name="serial_port" value="/dev/ttyACM1"/>
    <param name="publish_multiecho" value="false"/>
    <param name="angle_min" value="-1.57"/>
    <param name="angle_max" value="1.57"/>
    <param name="publish_intensity" value="true"/>
  </node>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
      <remap from="map" to="map_for_costmap"/>
      <param name="frame_id" value="map_for_costmap"/>
  </node>

  <!-- AMCL -->
  <include file="$(find orne_navigation)/launch/amcl.launch">
    <arg name="initial_pose_x" value="$(arg init_x)" />
    <arg name="initial_pose_y" value="$(arg init_y)" />
    <arg name="initial_pose_a" value="$(arg init_a)" />
  </include>

  <!-- move_base -->
  <include file="$(find orne_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)" />
    <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)" />
    <arg name="odom_topic" value="$(arg odom_topic)" />
  </include>
</launch>
